ESP32 - JASON
[
    {
        "id": "950f391c4c537927",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "510a472c6baf9fb3",
        "type": "mqtt in",
        "z": "950f391c4c537927",
        "name": "",
        "topic": "sensor/som",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1234567890abcdef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "147a92de35cce145",
                "5be0ff3448055a07",
                "9199499ce3f8c8f3"
            ]
        ]
    },
    {
        "id": "5be0ff3448055a07",
        "type": "switch",
        "z": "950f391c4c537927",
        "name": "Som Detectado?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "25c1e0ea8c0feb3a"
            ],
            [
                "75f3915fb30f7291"
            ]
        ]
    },
    {
        "id": "25c1e0ea8c0feb3a",
        "type": "change",
        "z": "950f391c4c537927",
        "name": "Som detectado",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Som Detectado!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "7fa10b3d97e81cf6"
            ]
        ]
    },
    {
        "id": "75f3915fb30f7291",
        "type": "change",
        "z": "950f391c4c537927",
        "name": "Som não detectado",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sem Som",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "7fa10b3d97e81cf6"
            ]
        ]
    },
    {
        "id": "147a92de35cce145",
        "type": "function",
        "z": "950f391c4c537927",
        "name": "Formatar Dados para DynamoDB",
        "func": "// Verifica se o valor recebido é \"1\" ou \"0\" e converte para string numérica\nlet valorNumero = msg.payload;\n\n// Formata o payload para o DynamoDB com o mapa de atributos correto\nmsg.payload = {\n    TableName: \"Sensor_Som\",\n    Item: {\n        Sensor_ID: { S: \"LM393\" },\n        Timestamp: { S: new Date().toISOString() },\n        Valor: { N: valorNumero.toString() }\n    }\n};\n\n// Retorna o msg formatado corretamente para o DynamoDB\nreturn msg.payload;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "d8d851a62c5b4a32",
                "f38651aef4c4f046"
            ]
        ]
    },
    {
        "id": "9199499ce3f8c8f3",
        "type": "debug",
        "z": "950f391c4c537927",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "7fa10b3d97e81cf6",
        "type": "ui_text",
        "z": "950f391c4c537927",
        "group": "28a034ab.aeaf6c",
        "order": 1,
        "width": "2",
        "height": 1,
        "name": "Indicador",
        "label": "Estado do Som",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "d8d851a62c5b4a32",
        "type": "AWS DynamoDB",
        "z": "950f391c4c537927",
        "aws": "8b84c11377d060af",
        "operation": "PutItem",
        "Statements": "",
        "RequestItems": "",
        "TableName": "Sensor_Som",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "BackupArn": "",
        "Key": "",
        "ExportArn": "",
        "Statement": "",
        "TransactStatements": "",
        "TableArn": "",
        "S3Bucket": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TransactItems": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ContributorInsightsAction": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "1a6b1424e04f6b09"
            ],
            []
        ]
    },
    {
        "id": "1a6b1424e04f6b09",
        "type": "debug",
        "z": "950f391c4c537927",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "f38651aef4c4f046",
        "type": "debug",
        "z": "950f391c4c537927",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "1234567890abcdef",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "3.145.147.198",
        "port": "1883",
        "clientid": "NodeREDClienteRuido",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "28a034ab.aeaf6c",
        "type": "ui_group",
        "name": "Sensor ruído",
        "tab": "e0cae9807f88480d",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "8b84c11377d060af",
        "type": "amazon config",
        "name": "AWS",
        "region": "us-east-2",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "e0cae9807f88480d",
        "type": "ui_tab",
        "name": "Interface do Usuário",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
